* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 20%;
    padding: 0;
  }

.game__background {
    background-image: url(./assets/bakery_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 600px;
    margin: 20px auto;
    position: relative;
}

.game__button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    left: 450px;
    top:10px;
    width: 150px;
    height: 150px;
    background-color: wheat;
    border-radius: 50%;
}

.game__playbtn {
    font-size: 32px;
    background-color: transparent;
    transition: transfrom 300ms ease-in;
}

.game__playbtn:hover {
    transform: scale(1.1);
}

.game__field {
    height: 250px;
    width: 800px;
}


img {
    width: 8rem;
    position: absolute;
    z-index: 1;
    transition: transfrom 300ms ease-in;
}

img:hover {
    transform: scale(0.9);
}


.hidden {
    display: none;
}

