* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.background {
    background-image: url(./assets/bakery_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 600px;
    margin: 20px auto;
    position: relative;
}

.count__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    left: 450px;
    top:10px;
    width: 150px;
    height: 150px;
    background-color: wheat;
    border-radius: 50%;
}

.play__btn {
    padding: 20px
}

.replay__btn {
    padding: 20px
}


img {
    width: 8rem;
    position: absolute;
    z-index: 1;
    bottom: 200px;
}

.hidden {
    display: none;
}

